In [1]:
import pandas as pd
import numpy as np

In [2]:
# Q1
pd.__version__

'2.3.2'

In [3]:
# Q2
data = pd.read_csv("data/car_fuel_efficiency.csv")
data.shape

(9704, 11)

In [4]:
data.head(2)

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217

In [5]:
# Q3
data["fuel_type"].nunique()

2

In [6]:
# Q4
data.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [7]:
# Q5
data.loc[data["origin"] == "Asia"]["fuel_efficiency_mpg"].max()

np.float64(23.759122836520497)

In [8]:
# Q6
print("Before:", data["horsepower"].median())
print("After:", data["horsepower"].fillna(data["horsepower"].mode()[0]).median())

Before: 149.0
After: 152.0

In [9]:
# Q7
asia_cars = data.loc[data["origin"] == "Asia"]

X = np.array(asia_cars[["vehicle_weight", "model_year"]].head(7))
XTX = X.T @ X
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
w = np.linalg.inv(XTX) @ X.T @ y
sum(w)

np.float64(0.5187709081074006)